@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:   
   Date:     
   
  

*/

* {
    margin: 0; 
    padding: 0;
}

body {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
	background-image:url("coffee.jpg");
}
#container {
    width: 930px;
    border-width: 2px;
    margin: 0 auto;
    background-color: white;
}


header {
    width: 915px;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #888888;
    box-shadow: 15px 15px 5px 0 #888888;
	background-color:#e9e0d1;
    border-radius: 30px;  	
}

nav {
    width: 200px;
    margin: 0 5px 0 5px; 
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 5px;
    color: #52341e;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: gray;
    border-radius: 10px;
    color: white;
}

#main {
    width: 446px;
    padding: 10px;
    float: left;
    color: black;
    border-left: 2px solid;
    border-right: 2px solid;    
    background-image: url(images/ricepaper.jpg);
}

#main p {
    text-indent: 1.5em;
}

figure{
    padding-top: 10px;
    text-align: center;
}

figcaption {
    font-style: italic;
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
}

aside p {
    font-style: italic;
    font-size: 0.9em;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
	color: #52341e;
}

h3 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
	color:#52341e; 
}

footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: #52341e;
    clear: both;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
}/* navigation for footer */
footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: navy;
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*Style for the menu table*/
table{
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px auto;
	margin-bottom: 20px;
}
table th, table td{
	padding: 10px;
	text-align: left;
	border: 1px solid; #ddd;
}
table td{
	background-color:#f8f8f8;
}
